body {
  font-family:Arial,Helvetica,Sans-serif;
  font-size:15px;
  line-height:1.5;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/*global */
.container {
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul {
  padding:0;
  margin:0;
}

.button_1 {
  padding:4px;
  height:38px;
  background:#e8491d;
  color:#ffffff;
  border:none;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
  
}

/*header*/
header {
  background-color:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

svg {
  margin-left: 5px;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.wood{
  color:rgb(246, 246, 250);
}

header a {
  color:black;
  font-size:16px;
  text-transform:uppercase;
  text-decoration:none;
}


header li {
  display:inline;
  float:left;
  padding:0 20px 0 20px;
  
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a {
  color:#e8491d;
  /*color:black;*/
}

header li a:hover{
  color:#e8491d;
  font-weight:bold;
}

/*showcase*/
#showcase {
  min-height:400px;
  background:url('images/outdoor-well.jpg') no-repeat -200px -1200px;
  text-align:center;
  color:#ffffff;
}

#showcase h1 {
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p {
  font-size:20px;
}

/*newsletter*/
#newsletter {
  padding:15px;
  color:#ffffff;
  background:#35424a;
}

#newsletter h1 {
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"] {
  padding:4px;
  height:25px;
  width:250px;
}


/*boxes*/
#boxes {
 margin-top:20px;
}

#boxes .box{
  float:left;
  text-align:center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  height:200px;
  width:200px;
}

/*main-col*/
article#main-col{
  float:left;
  width:65%;
}

/*aside*/
aside#sidebar{
  float:right;
  margin-top:10px;
  width:30%;
}

aside#sidebar .quote input, aside#sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}

/*products*/
ul#services li{
  list-style:none;
  background-color:#e6e6e6;
  border:#cccccc 1px solid;
  padding:20px;
  margin-bottom:5px;
}
/*footer*/
footer{
  margin-top:200px;
  padding:20px;
  color:#ffffff;
  background:#e8491d;
  text-align:center;
}

.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}

/*Media Queries*/

@media(min-width:568px){
  .open-slide{display:none}
}

@media(max-width:568px){
  .container nav{display:none}
}

@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }
  
  header{
    padding-bottom:40px;
  }
  
  #showcase h1{
    margin-top:40px;
  }
  
  #newsletter button, .quote button{
    display: block;
    width: 100%;
  }
  
  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}